<html>
	<head>
		<title>circle menu demo</title>
	</head>
	<body>
		<div id="menu_icon" class="" style="border-radius: 50%;position: relative; width: 50px; height: 50px; background-color: #999;margin: 110px;">
			<div class="wcircle-icon">
				<div style="background: #D1026C; color: #fff; font-weight: bold;box-shadow: 0px 0px 90px 10px rgba(255, 255, 255, 0.3);border-radius: 50%;padding: 15px;width: 20px;height: 20px;text-align: center;">
					+
				</div>
			</div>
			<div class="wcircle-menu" style="display:none;">
				<div class="wcircle-menu-item" style="background-color:#FF847C;border-radius:50%;padding:15px;width:20px;height:20px;">
					A
				</div>
				<div class="wcircle-menu-item" style="background-color:#FECEA8;border-radius:50%;padding:15px;width:20px;height:20px;">
					B
				</div>
				<div class="wcircle-menu-item" style="background-color:#452E3C;border-radius:50%;padding:15px;width:20px;height:20px;">
					C
				</div>
				<div class="wcircle-menu-item" style="background-color:#FFB969;border-radius:50%;padding:15px;width:20px;height:20px;">
					D
				</div>
				<div class="wcircle-menu-item" style="background-color:#3B8C88;border-radius:50%;padding:15px;width:20px;height:20px;">
					D
				</div>
				<div class="wcircle-menu-item" style="background-color:#9EAE8A;border-radius:50%;padding:15px;width:20px;height:20px;">
					D
				</div>
				<div class="wcircle-menu-item" style="background-color:#9EAE8A;border-radius:50%;padding:15px;width:20px;height:20px;">
					D
				</div>
				<div class="wcircle-menu-item" style="background-color:#F27435;border-radius:50%;padding:15px;width:20px;height:20px;">
					D
				</div>
			</div>
		</div>
<!--
		<button id="openWCM">open</button>
		<button id="closeWCM">close</button>
-->

        <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="/js/jQuery.WCircleMenu-min.js"></script>
        <script type="text/javascript" src="/js/menu.js"></script>
	</body>
</html>
